<!-- footer -->
<footer class="pt-5 pb-2">
	<div class="row" style="max-width: 100%; padding-left: 5%;">
	  	<div class="col-lg-2">
			<h5 style="color:white;">Features</h5>
			<ul class="list-unstyled text-small">
		  		<li><a class="footer_link" href="#">Cool stuff</a></li>
		  		<li><a class="footer_link" href="#">Random feature</a></li>
		  		<li><a class="footer_link" href="#">Team feature</a></li>
		  		<li><a class="footer_link" href="#">Stuff for developers</a></li>
				<li><a class="footer_link" href="#">Another one</a></li>
			</ul>
	  	</div>
	  	<div class="col-lg-2">
			<h5 style="color:white;">Resources</h5>
			<ul class="list-unstyled text-small">
		  		<li><a class="footer_link" href="#">Resource name</a></li>
		  		<li><a class="footer_link" href="#">Resource</a></li>
		  		<li><a class="footer_link" href="#">Another resource</a></li>
		  		<li><a class="footer_link" href="#">Final resource</a></li>
			</ul>
	  	</div>
	  	<div class="col-lg-2">
			<h5 style="color:white;">Resources</h5>
			<ul class="list-unstyled text-small">
		 		<li><a class="footer_link" href="#">Business</a></li>
		  		<li><a class="footer_link" href="#">Education</a></li>
		  		<li><a class="footer_link" href="#">Government</a></li>
		  		<li><a class="footer_link" href="#">Gaming</a></li>
			</ul>
	  	</div>
	  	<div class="col-lg-5 mr-2">
			<img class="float-right" src="./statics/img/book/bloodtrailer.png" width="30%">
		</div>
	</div>
  </footer>
</body>
</html>