html {
  height: 100%;
}

body {
  background: linear-gradient(rgb(248, 248, 248), rgba(255, 255, 255, 0.3));
  background: url(https://images.unsplash.com/photo-1415369629372-26f2fe60c467?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1868&q=80);
  background-size: cover;
  background-position: center;
  font-family: "Raleway", sans-serif;
  color: black;
}

.navbar {
  background-color: rgb(203, 240, 221);
}

.col-lg-12 {
  text-align: center;
  padding-top: 25%;
  text-shadow: 0px 4px 3px black;
}
h1 {
  font-weight: 700;
  font-size: 5em;
}
hr {
  background-color: white;
  width: 100%;
}

.position {
  margin-top: 7%;
}

.jumbotron {
  background-color: rgb(226, 239, 243);
  background-size: cover;
}

.card-img-top {
  height: 17vw;
}

.cartimg {
  max-height: 9vw;
}

footer.pt-5.pb-2 {
  background-color: rgb(16, 20, 59) !important;
  margin-top: 5% !important;
}

.footer_link {
  color: rgb(167, 243, 224);
}

.footer_link:hover {
  color: rgb(98, 182, 164);
  text-decoration: none; /*  沒有底線 */
}
