html {
  height: 100%;
}

body {
  height: 100%;
  background: linear-gradient(rgb(248, 248, 248), rgba(255, 255, 255, 0.3));
  background: url(https://images.unsplash.com/photo-1415369629372-26f2fe60c467?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1868&q=80);
  background-size: cover;
  background-position: center;
  font-family: "Raleway", sans-serif;
  color: black;
}

.navbar {
  background-color: rgb(203, 240, 221);
}

.col-lg-12 {
  text-align: center;
  padding-top: 25%;
  text-shadow: 0px 4px 3px black;
}
h1 {
  font-weight: 700;
  font-size: 5em;
}
hr {
  background-color: white;
  width: 100%;
}

.jumbotron {
  background-color: rgb(226, 239, 243);
  background-size: cover;
}

.card-img-top {
  height: 17vw;
}

.cartimg {
  max-height: 9vw;
}

footer.pt-5.pb-2 {
  background-color: rgb(16, 20, 59) !important;
  margin-top: 5% !important;
}

.footer_link {
  color: rgb(167, 243, 224);
}

.footer_link:hover {
  color: rgb(98, 182, 164);
  text-decoration: none; /*  沒有底線 */
}

textarea.form-control {
  height: 200px;
}

.wraper {
  /* 設定高度最小為100%, 如果內容區塊很多, 可以長大 */
  min-height: 100%;
  /* 位置設為relative, 作為footer區塊位置的參考 */
  position: relative;
}

#flashMessage {
  margin: auto;
  text-align: center;
  width: 40%;
  height: 35px;
  line-height: 35px;
  color: #a94442;
  border-radius: 10px;
  background-color: #f2dede;
  border-color: #deb7be;
  border-width: 2px 5px;
  border-style: solid;
}

#flashMessage-success {
  margin: auto;
  text-align: center;
  width: 40%;
  height: 35px;
  line-height: 35px;
  color: #3c763d;
  border-radius: 10px;
  background-color: #dff0d8;
  border-color: #d6e9c6;
  border-width: 2px 5px;
  border-style: solid;
}
